{% extends 'base.html.twig' %}

{% block title %}Event Index{% endblock %}

{% block body %}
    <div class="container mx-auto py-8 px-4">
        <h1 class="font-bold text-2xl pb-6">Event Index</h1>

        <a class="bg-green-600 hover:bg-green-700 text-gray-100 font-bold py-2 px-4 rounded-lg" href="{{ path('app_admin_event_new') }}">Create new</a>

        <hr class="pb-6">

        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">ID</th>
                        <th scope="col" class="px-6 py-3">Name</th>
                        <th scope="col" class="px-6 py-3">Date de début</th>
                        <th scope="col" class="px-6 py-3">Date de fin</th>
                        <th scope="col" class="px-6 py-3">Description</th>
                        <th scope="col" class="px-6 py-3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ event.id }}</th>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ event.name }}</td>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ event.dateBegin ? event.dateBegin|date('Y-m-d H:i') : '' }}</td>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ event.dateEnd ? event.dateEnd|date('Y-m-d H:i') : '' }}</td>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ event.description }}</td>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <a class="hover:text-green-600" href="{{ path('app_admin_event_show', {'id': event.id}) }}">show</a>
                                <a class="hover:text-red-600" href="{{ path('app_admin_event_edit', {'id': event.id}) }}">edit</a>
                                {% if not event.isApproved %}
                                    <form method="post" action="{{ path('app_admin_event_approve', {'id': event.id}) }}" style="display: inline-block;">
                                        <input type="hidden" name="_token" value="{{ csrf_token('approve' ~ event.id) }}">
                                        <button class="text-green-500" type="submit">Approve</button>
                                    </form>
                                {% endif %}
                                <form method="post" action="{{ path('app_admin_event_delete', {'id': event.id}) }}" style="display: inline-block;">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
                                    <button class="text-red-500" type="submit">delete</button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}