{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <div class="container mx-auto py-8 px-4">

        <div class="flex justify-between	pb-6 ">
            <h1 class="font-bold text-2xl">Event index</h1>

            {% if is_granted('ROLE_ADMIN') %}
                <a class="animate__animated animate__fadeIn ml-auto transform hover:scale-110 motion-reduce:transform-none duration-300 bg-green-600 hover:bg-green-700 text-gray-100 font-bold py-2 px-4 p-12 rounded-lg"
                   href="{{ path('app_admin_event_new') }}">Create new</a>
            {% endif %}
        </div>

        <hr class="pb-6">


        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date de début
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date de fin
                    </th>
                    <th scope="col" class="px-6 py-3">
                        actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ event.id }}</th>
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ event.name }}</td>
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ event.dateBegin ? event.dateBegin|date('Y-m-d') : '' }}</td>
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ event.dateEnd ? event.dateEnd|date('Y-m-d') : '' }}
                        </td>
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <a class="hover:text-green-600"
                               href="{{ path('app_admin_event_show', {'id': event.id}) }}">show</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="hover:text-red-600"
                                   href="{{ path('app_admin_event_edit', {'id': event.id}) }}">edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
