{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div class="container mx-auto py-8 px-4">
        <div class="flex justify-between pb-6">
            <h1 class="font-bold text-2xl">Paneau de bord - Admin</h1>
        </div>
        
        <hr class="pb-6">

        <h2 class="font-bold text-xl pb-4">Événements</h2>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">ID</th>
                        <th scope="col" class="px-6 py-3">Nom</th>
                        <th scope="col" class="px-6 py-3">Date de début</th>
                        <th scope="col" class="px-6 py-3">Date de fin</th>
                        <th scope="col" class="px-6 py-3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ event.id }}</th>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ event.name }}</td>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ event.dateBegin ? event.dateBegin|date('Y-m-d') : '' }}</td>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ event.dateEnd ? event.dateEnd|date('Y-m-d') : '' }}</td>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <a class="hover:text-green-600" href="{{ path('app_admin_event_show', {'id': event.id}) }}">Voir</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="hover:text-red-600" href="{{ path('app_admin_event_edit', {'id': event.id}) }}">Éditer</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h2 class="font-bold text-xl pb-4 pt-6">Utilisateurs</h2>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">ID</th>
                        <th scope="col" class="px-6 py-3">Email</th>
                        <th scope="col" class="px-6 py-3">Roles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-4">{{ user.id }}</td>
                            <td class="px-6 py-4">{{ user.email }}</td>
                            <td class="px-6 py-4">{{ user.roles|join(', ') }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}