{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container mx-auto py-8 px-4">
        <h1 class="font-bold text-2xl pb-6">Connexion</h1>

        {% if error %}
            <div class="text-red-500">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="flex justify-center">
            {{ form_start(form, { 'attr': {'class': 'w-full max-w-sm'} }) }}

            <div class="mb-4">
                {{ form_row(form.email, { 'attr': {'class': 'w-full p-2 border'} }) }}
            </div>

            <div class="mb-4">
                {{ form_row(form.password, { 'attr': {'class': 'w-full p-2 border'} }) }}
            </div>

            <div class="mb-4">
                <button type="submit"
                        class="w-full bg-green-600 hover:bg-green-700 text-gray-100 font-bold py-2 px-4 rounded-lg">
                    Login
                </button>
            </div>

            <div class="flex items-center justify-center mt-6">
                <span class="text-gray-700 mr-2">Vous n'avez pas de compte?</span>
                <a class="font-medium text-purple-700 hover:text-purple-900" href="/register">Inscrivez-vous</a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}